.df-main-contacto {
  background: red !important;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
}
.btn-outline-success {
  border-color: #63a1d8 !important;
  color: #63a1d8 !important;
}

body {
  font-family: Nunito !important;
}

.header-index .container-fluid {
  justify-content: flex-end !important;
}
.header-index img {
  display: block;
  max-width: 120px;
  margin: auto;
}

nav {
  background-color: #63a1d8;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 3px 0;
  display: block;
  text-align: center;
}
nav ul li {
  margin: 0 10px;
  display: inline-block;
}
nav ul a {
  color: white;
  text-decoration: none;
}
nav ul a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
}

.df-main-contacto {
  text-align: center;
}
.df-main-contacto h1 {
  margin: 10px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  margin: 20px;
}

.grid-item {
  background-color: #63a1d8;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: 600;
  line-height: 25px;
  font-size: 20px;
  border-radius: 20px;
}
.grid-item img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  border-radius: 20px;
}

.boton-grid {
  border-radius: 20px;
  background: rgb(255, 254, 254);
  padding: 2px 10px;
  margin-top: 5px;
}

.contenido {
  padding: 15px;
  text-align: left;
  max-width: 400px;
  margin: auto;
}
.contenido input, .contenido textarea {
  display: block;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 100%;
  margin-bottom: 20px;
}

.section-df {
  margin: 20px;
  background-color: #63a1d8;
  border-radius: 10px;
  color: rgb(240, 248, 255);
  text-align: center;
}
.section-df .partners-container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  flex-wrap: wrap;
}
.section-df .partners-container .partner img {
  width: 120px;
  margin: 10px;
}

.main-banner {
  display: block;
  width: 100%;
  height: 250px;
  background-image: url("./../img/Maradona.webp");
  background-size: cover;
  background-position: bottom;
}

.nosotros-banner {
  display: block;
  width: 100%;
  height: 300px;
  background-image: url("./../img/empresarios.jpg");
  background-size: cover;
  background-position: top;
}

.scrolling-text-container {
  color: #63a1d8;
  margin: auto;
  width: 300px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  text-align: center;
}

.scrolling-text {
  position: absolute;
  white-space: nowrap;
  animation: scroll-text 12s linear infinite;
}

@keyframes scroll-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.texto-imagenes {
  margin: 20px;
}

footer {
  background-color: #63a1d8;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-index .navbar {
    background-color: transparent !important;
  }
  .header-index img {
    margin: unset;
  }
  .grid-container {
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 1000px;
    margin: auto;
  }
  .main {
    margin: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
