
$primary-color: #63a1d8;
$secondary-color: #63a1d8;




@font-face {
  font-family: 'Nunito';
  src: url("./../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") ;
}
.btn-outline-success {
border-color: $primary-color !important;
color: $primary-color !important;
}
body {
  font-family: Nunito !important; 
  
}
.header-index{
    
    .container-fluid {
      justify-content: flex-end !important;
    }

    img {
      display: block;
      max-width: 120px;
      margin: auto;
    }
}
nav {
  background-color: $secondary-color;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 3px 0;
    display: block;
    text-align: center;

    li {
      margin: 0 10px;
      display: inline-block;
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

section {
  padding: 20px;
}
.df-main-contacto{
    text-align: center;
    
    h1 {
      margin: 10px auto;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    margin: 20px;
    
  }
  
  .grid-item {
    background-color: #63a1d8;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: 600;
    line-height: 25px;
    font-size: 20px;
    img {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  .contenido {
    padding: 15px;
    text-align: left;
    max-width: 400px;
    margin: auto;
    
    input, textarea {
      display: block;
      border: none;
      border-bottom: 1px solid black;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .titulo-imagenes{
    background-color: gray;
    padding: 15px;
    color: white;
    line-height: 28px
  }
  .section-df{
    margin: 20px;
    background-color: bisque;
  }
.main-banner {
  display: block;
  width: 100%;
  height: 250px;
  background-image: url("./../img/messi\ banner\ 2.jpg");
  background-size: cover;
}
footer {
  background-color: $primary-color;
  color: white;
  padding: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header-index {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar {
     background-color: transparent !important;
    }
    img {
      margin: unset;
    }
  }
  .grid-container {
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 1000px;
    margin: auto;
    
  }
  .main {
    margin: 20px;
  }
}